.mainRegistro {
  background-image: url(../img/FondoSeccion1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.tituloRegistro {
  text-align: center;
  color: #689c5b;
  font-family: "Inter", sans-serif;
  font-size: 5vh;
  display: block;
  margin-top: 5vh;
}

.contenedorInputs{
    display: flex;
    justify-content: center;
    margin-bottom: 20vh;
}

.contact-form form p {
  margin: 0.2em;
  font-family: "Inter", sans-serif;
}

.contact-form form input {
  border-radius: 3vh;
  padding: 0.7vh;
  border-color: #689c5b;
  border: 1px solid #689c5b;
  font-family: "Inter", sans-serif;
}

.seccionDerecha div,.seccionIzquierda div{
    display: flex;
    flex-direction: column;
    margin: 5%  0;
}

.checkbox {
    margin: 4vh 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

input, label{
    margin: 0 5vh;
}

input{
    width: 50vh;
}

.fotoFormulario{
    z-index: 2;
    height: 50vh;
}
.checkbox{
    display: block;
    margin-left: 25%;
    margin-top: -20vh;
}
.seccionIzquierda .checkbox div{
    display: flex;
    flex-direction: row;
}
.checkbox div input{
    width: 5vh;
}
.botonFormulario{
    margin-left: 80%;
}