/*Importar Fuente*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (min-width :1200px){
  /*Header Inicio*/

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  background-color: #f67842;
}
.logo {
  width: 10vh;
  height: 5vh;
  margin: 3px 0;
}
.navBar {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
.navBar ul li {
  display: inline;
  margin: 0 10px;
}
.navBar ul li a {
  text-decoration: none;
  color: #ffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2vh;
}
.ingreso {
  color: black;
}
.navBar ul li a:hover {
  color: gray;
}
.iconoPerfil {
  font-size: 4vh;
}

/*Header Final*/

/* Main inicio */

.main {
  background-image: url(../img/FondoSeccion1.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

/*Inicio Sección 1*/

/*Inicio Articulo 1*/

.registrate {
  text-align: center;
}
.tituloMain {
  margin-top: 10vh;
  font-weight: bold;
  font-size: 10vh;
}
.tituloEcobici {
  color: #f67842;
  font-weight: bold;
}
.eslogan {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #9a9898;
  margin: 5vh 0;
  font-size: 2vh;
}
.botonLink {
  font-size: 3vh;
  font-family: "Inter", sans-serif;
  background-color: #f67842;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  padding: 2vh 4vh;
  border-radius: 2.3vh;
  border: none;
  text-decoration: none;
  color: #ffff;
}
.botonLink:hover {
  color: #ffff;
  background-color: #9a9898;
}
/* Final Articulo1 */

/* Inicio Articulo2 */
.promocional {
  margin-top: -25vh;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5px 0px;
}
.ecoBici,
.biciAmigos,
.biciParadas {
  font-size: 1.5vh;
  display: grid;
  align-self: center;
  text-align: center;
  color: #689c5b;
}
.bici {
  grid-area: 1 / 1 / 2 / 3;
  height: 45vh;
  z-index: 1;
  margin-left: 10%;
  align-self: flex-end;
  margin-bottom: -3vh;
}
.datos {
  grid-area: 1 / 2 / 2 / 3;
  text-align: center;
  height: 18vh;
  align-self: center;
}

.tituloDatos {
  color: #689c5b;
  font-family: "Inter", sans-serif;
}
.estadisticas {
  display: flex;
  border: 0.3vh solid #689c5b;
  border-radius: 1vh;
  justify-content: center;
  align-self: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 3vh;
}
.estadisticasInfo {
  margin: 0.1vh 2vh;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
.remera {
  grid-area: 1 / 3 / 2 / 4;
  height: 80vh;
  margin-left: -10%;
  margin-bottom: -2vh;
}
.lineaDivisora {
  grid-area: 2 / 1 / 3 / 4;
  background-color: #689c5b;
  width: 100%;
  height: 2vh;
}

/* Final Articulo2 */

/*Final Sección 1*/

/*Inicio Sección 2*/

.seccion2 {
  background-image: url(../img/FondoSeccion2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -5.1vh;
}
.tituloSeccion2 {
  color: #689c5b;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 5vh;
}
.tituloSeccion2 h3{
  padding-top: 5vh;
  margin-left: 5%;
}
.contenedorTarjetas {
  display: flex;
  margin: 0 5%;
}
.tarjeta {
  background-color: #689c5b;
  margin: 5% 5% 15% 5%;
  width: 33%;
  border-radius: 1vh;
  padding: 3vh;
}
.tituloTarjeta {
  text-align: center;
  color: #ffff;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
.tarjeta .listaDeBeneficios {
  list-style: none;
  color: #ffff;
  font-size: 1.5vh;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.tarjeta .listaDeBeneficios div li {
  margin: 1vh 0;
}
.tarjeta .listaDeBeneficios div {
  display: flex;
}
.tarjeta .listaDeBeneficios i {
  font-size: 3vh;
  margin-right: 0.5vh;
}
.tarjeta .listaDeBeneficios .sangria {
  margin-left: 1vh;
}

.textoEcobici {
  color: #ffff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 2vh;
  text-align: center;
  margin: 2vh;
}
.tarjeta .botonLink {
  margin: auto;
  display: table;
}
.lampara {
  color: #ffff;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  font-size: 3vh;
}
/*Final Sección 2*/

/*Inicio Sección 3*/
.seccion3{
  margin: 5%;
  display: flex;
  justify-content: space-between;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.tituloBiciMapa{
  font-size: 5vh;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #689C5B;
  margin-bottom: 4vh;
}
.mapa{
  width: 70%;
  height: 60vh;
}
.lugares{
  margin-bottom: 3vh;
}
.divisionLugares{
  background-color: #9A9898;
  height: .1vh;
  margin-top: 1vh;
}
.verMas{
  background-color: #689C5B;
  color: #ffff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 2vh;
  border: none;
  padding: 1.5vh;
  border-radius: 4vh;
  align-items: center;
  text-decoration: none;
}
.flecha{
  font-size: 2vh;
  margin-left: 2vh;
}
/*Final Sección 3*/

/* Main final */

/* Footer inicio*/

.lineaFooter {
  width: 100%;
  height: 0.3vh;
  background-color: #d3d3d3;
}
.footer .footerSeccion1 {
  display: flex;
  justify-content: space-between;
  padding: 2vh;
}
.footer .footerSeccion1 .infoContacto {
  margin-left: 10%;
  display: flex;
  background-color: white;
}
.iconos {
  font-size: 3vh;
  height: 3vh;
  margin-right: 1vh;
}
.footerBoton {
  display: flex;
  margin: 1vh;
  padding: 0.5vh 2vh;
  align-items: center;
  border: 0.1vh solid #bbb8b8;
  border-radius: 5vh;
  text-decoration: none;
  color: #000000;
}
.wpp {
  color: #689c5b;
}

.footerBoton .tituloInfo {
  font-size: 2vh;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: #000000;
}
.decripcionInfo {
  font-size: 1.5vh;
  font-family: "Inter", sans-serif;
  color: #000000;
}
.tituloFooter {
  color: #bbb8b8;
  font-size: 2vh;
}
.redes {
  margin-right: 10%;
}
.iconosRedes {
  margin-top: 1vh;
}
.nosub {
  text-decoration: none;
}
.facebook {
  color: #3b5998;
}
.twitter {
  color: #00acee;
}
.footer .footerSeccion2 {
  display: flex;
  background-color: #f9f9f9;
  justify-content: space-between;
  padding: 1vh 2.5%;
}
.terminosYCondiciones {
  display: flex;
  align-items: center;
}
.terminosYCondiciones .tituloFooter {
  margin: 0 1vh;
}

/* Footer final */
}

/*Inicio Responsive*/

/*Tablet Inicio*/
@media (max-width: 1199px) { 
  /*Header Inicio*/

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  background-color: #f67842;
}
.logo {
  width: 5vh;
  height: 2.5vh;
  margin: 3px 0;
}
.navBar {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
.navBar ul li {
  display: inline;
  margin: 0 5px;
}
.navBar ul li a {
  text-decoration: none;
  color: #ffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1vh;
}
.ingreso {
  color: black;
}
.navBar ul li a:hover {
  color: gray;
}
.iconoPerfil {
  font-size: 2vh;
}

/*Header Final*/

/* Main inicio */

.main {
  background-image: url(../img/FondoSeccion1.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

/*Inicio Sección 1*/

/*Inicio Articulo 1*/

.registrate {
  text-align: center;
}
.tituloMain {
  margin-top: 2.5vh;
  font-weight: bold;
  font-size: 2.5vh;
}
.tituloEcobici {
  color: #f67842;
  font-weight: bold;
}
.eslogan {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #9a9898;
  margin: 2.5vh 0;
  font-size: 1vh;
}
.botonLink {
  font-size: 1vh;
  font-family: "Inter", sans-serif;
  background-color: #f67842;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  padding: .5vh 1vh;
  border-radius: 1.15vh;
  border: none;
  text-decoration: none;
  color: #ffff;
}
.botonLink:hover {
  color: #ffff;
  background-color: #9a9898;
}
/* Final Articulo1 */

/* Inicio Articulo2 */
.promocional {
  margin-top: -12.5vh;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5px 0px;
}
.ecoBici,
.biciAmigos,
.biciParadas {
  font-size: .75vh;
  display: grid;
  align-self: center;
  text-align: center;
  color: #689c5b;
}
.bici {
  grid-area: 1 / 1 / 2 / 3;
  height: 17vh;
  z-index: 1;
  margin-left: 10%;
  align-self: flex-end;
  margin-bottom: -1.5vh;
}
.datos {
  grid-area: 1 / 2 / 2 / 3;
  text-align: center;
  height: 5vh;
  align-self: center;
}

.tituloDatos {
  color: #689c5b;
  font-family: "Inter", sans-serif;
  font-size: 1vh;
  margin-top: 2vh;
}
.estadisticas {
  display: flex;
  border: 0.15vh solid #689c5b;
  border-radius: 1vh;
  justify-content: center;
  align-self: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 1.5vh;
}
.estadisticasInfo {
  margin: 0.1vh 1vh;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
.estadisticasInfo p{
  font-size: 1vh;
}
.remera {
  grid-area: 1 / 3 / 2 / 4;
  margin-left: -10%;
  margin-bottom: -1vh;
  height: 30vh;
}
.lineaDivisora {
  grid-area: 2 / 1 / 3 / 4;
  background-color: #689c5b;
  width: 100%;
  height: 1vh;
}

/* Final Articulo2 */

/*Final Sección 1*/

/*Inicio Sección 2*/

.seccion2 {
  background-image: url(../img/FondoSeccion2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.tituloSeccion2 {
  color: #689c5b;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.25vh;
  margin-bottom: 1vh;
}
.tituloSeccion2 h3{
 padding-top: 1vh;
 margin-left: 5%;
}
.contenedorTarjetas {
  display: flex;
  margin: 0 3vh;
}
.tarjeta {
  background-color: #689c5b;
  margin: 2vh 1vh;
  width: 33%;
  border-radius: 1vh;
  padding: 1.5vh;
}
.tituloTarjeta {
  text-align: center;
  color: #ffff;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
.tarjeta .listaDeBeneficios {
  list-style: none;
  color: #ffff;
  font-size: 1vh;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.tarjeta .listaDeBeneficios div li {
  margin: .5vh 0;
}
.tarjeta .listaDeBeneficios div {
  display: flex;
}
.tarjeta .listaDeBeneficios i {
  font-size: 1.5vh;
  margin-right: 0.25vh;
}
.tarjeta .listaDeBeneficios .sangria {
  margin-left: .5vh;
}

.textoEcobici {
  color: #ffff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.2vh;
  text-align: center;
  margin: .5vh;
}
.tarjeta .botonLink {
  margin: auto;
  display: table;
}
.lampara {
  color: #ffff;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  font-size: 1.5vh;
}
/*Final Sección 2*/

/*Inicio Sección 3*/
.seccion3{
  margin: 5%;
  display: flex;
  justify-content: space-between;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.tituloBiciMapa{
  font-size: 2.5vh;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #689C5B;
  margin-bottom: 1vh;
}
.infoBiciMapa .titulo{
  font-size: 1.5vh;
}
.infoBiciMapa p{
  font-size: 1.2vh;
}
.mapa{
  width: 70%;
  height: 30vh;
}
.lugares{
  margin-bottom: 1.5vh;
}
.divisionLugares{
  background-color: #9A9898;
  height: .05vh;
  margin-top: .5vh;
}
.verMas{
  background-color: #689C5B;
  color: #ffff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5vh;
  border: none;
  padding: 1vh;
  border-radius: 2vh;
  align-items: center;
  text-decoration: none;
}
.flecha{
  font-size: 1vh;
  margin-left: 1vh;
}
/*Final Sección 3*/

/* Main final */

/* Footer inicio*/

.lineaFooter {
  width: 100%;
  height: 0.15vh;
  background-color: #d3d3d3;
}
.footer .footerSeccion1 {
  display: flex;
  justify-content: space-between;
  padding: 1vh;
}
.footer .footerSeccion1 .infoContacto {
  margin-left: 10%;
  display: flex;
  background-color: white;
}
.iconos {
  font-size: 1.5vh;
  height: 1.5vh;
  margin-right: .5vh;
}
.footerBoton {
  display: flex;
  margin: .5vh;
  padding: .25vh 1vh;
  align-items: center;
  border: .05vh solid #bbb8b8;
  border-radius: 2.5vh;
  text-decoration: none;
  color: #000000;
}
.wpp {
  color: #689c5b;
}

.footerBoton .tituloInfo {
  font-size: 1vh;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: #000000;
}
.decripcionInfo {
  font-size: .9vh;
  font-family: "Inter", sans-serif;
  color: #000000;
}
.tituloFooter {
  color: #bbb8b8;
  font-size: 1.5vh;
}
.redes {
  margin-right: 10%;
}
.iconosRedes {
  margin-top: .5vh;
}
.nosub {
  text-decoration: none;
}
.facebook {
  color: #3b5998;
}
.twitter {
  color: #00acee;
}
.footer .footerSeccion2 {
  display: flex;
  background-color: #f9f9f9;
  justify-content: space-between;
  padding: .5vh 2.5%;
}
.terminosYCondiciones {
  display: flex;
  align-items: center;
}
.terminosYCondiciones .tituloFooter {
  margin: 0 1vh;
}

/* Footer final */
}
/*Tablet Final */


/* Celular Incio */
@media (max-width: 767px){
  .header {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    background-color: #f67842;
  }
  .logo {
    width: 5vh;
    height: 2.5vh;
    margin: 3px 0;
  }
  .navBar {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
  }
  .navBar ul li {
    display: inline;
    margin: 0 5px;
  }
  .navBar ul li a {
    text-decoration: none;
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1vh;
  }
  .ingreso {
    color: black;
  }
  .navBar ul li a:hover {
    color: gray;
  }
  .iconoPerfil {
    font-size: 2vh;
  }
  
  /*Header Final*/
  
  /* Main inicio */
  
  .main {
    background-image: url(../img/FondoSeccion1.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  /*Inicio Sección 1*/
  
  /*Inicio Articulo 1*/
  
  .registrate {
    text-align: center;
  }
  .tituloMain {
    margin-top: 1.25vh;
    font-weight: bold;
    font-size: 1.25vh;
  }
  .tituloEcobici {
    color: #f67842;
    font-weight: bold;
  }
  .eslogan {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #9a9898;
    margin: 1.25vh 0;
    font-size: .5vh;
  }
  .botonLink {
    font-size: .5vh;
    font-family: "Inter", sans-serif;
    background-color: #f67842;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    padding: .25vh .5vh;
    border-radius: .58vh;
    border: none;
    text-decoration: none;
    color: #ffff;
  }
  .botonLink:hover {
    color: #ffff;
    background-color: #9a9898;
  }
  /* Final Articulo1 */
  
  /* Inicio Articulo2 */
  .promocional {
    margin-top: -12.5vh;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px 0px;
  }
  .ecoBici,
  .biciAmigos,
  .biciParadas {
    font-size: .38vh;
    display: grid;
    align-self: center;
    text-align: center;
    color: #689c5b;
  }
  .bici {
    grid-area: 1 / 1 / 2 / 3;
    height: 8.5vh;
    z-index: 1;
    margin-left: 10%;
    align-self: flex-end;
    margin-bottom: -1.5vh;
  }
  .datos {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
    height: 2.5vh;
    align-self: center;
  }
  
  .tituloDatos {
    color: #689c5b;
    font-family: "Inter", sans-serif;
    font-size: .5vh;
    margin-top: 1vh;
  }
  .estadisticas {
    display: flex;
    border: 0.15vh solid #689c5b;
    border-radius: .5vh;
    justify-content: center;
    align-self: center;
    width: 80%;
    margin: 0 auto;
    margin-top: .75vh;
  }
  .estadisticasInfo {
    margin: 0.05vh .5vh;
    font-family: "Inter", sans-serif;
    font-weight: 700;
  }
  .estadisticasInfo p{
    font-size: .5vh;
  }
  .remera {
    grid-area: 1 / 3 / 2 / 4;
    margin-left: -10%;
    margin-bottom: -1vh;
    margin-top: 10vh;
    height: 10vh;
  }
  .lineaDivisora {
    grid-area: 2 / 1 / 3 / 4;
    background-color: #689c5b;
    width: 100%;
    height: .5vh;
  }
  
  /* Final Articulo2 */
  
  /*Final Sección 1*/
  
  /*Inicio Sección 2*/
  
  .seccion2 {
    background-image: url(../img/FondoSeccion2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .tituloSeccion2 {
    color: #689c5b;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: .63vh;
    margin-bottom: .5vh;
  }
  .tituloSeccion2 h3{
   padding-top: .5vh;
   margin-left: 5%;
  }
  .contenedorTarjetas {
    display: flex;
    margin: 0 1.5vh;
  }
  .tarjeta {
    background-color: #689c5b;
    margin: 1vh .5vh;
    width: 33%;
    border-radius: .5vh;
    padding: .75vh;
  }
  .tituloTarjeta {
    text-align: center;
    font-size: 1.5vh;
    color: #ffff;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    font-family: "Inter", sans-serif;
    font-weight: bold;
  }
  .tarjeta .listaDeBeneficios {
    list-style: none;
    color: #ffff;
    font-size: .5vh;
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }
  .tarjeta .listaDeBeneficios div li {
    margin: .5vh 0;
  }
  .tarjeta .listaDeBeneficios div {
    display: flex;
  }
  .tarjeta .listaDeBeneficios i {
    font-size: .75vh;
    margin-right: .13vh;
  }
  .tarjeta .listaDeBeneficios .sangria {
    margin-left: .25vh;
  }
  
  .textoEcobici {
    color: #ffff;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: .6vh;
    text-align: center;
    margin: .25vh;
  }
  .tarjeta .botonLink {
    margin: auto;
    display: table;
  }
  .lampara {
    color: #ffff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: .75vh;
  }
  /*Final Sección 2*/
  
  /*Inicio Sección 3*/
  .seccion3{
    margin: 5%;
    display: flex;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .tituloBiciMapa{
    font-size: 1.25vh;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #689C5B;
    margin-bottom: .5vh;
  }
  .infoBiciMapa .titulo{
    font-size: .75vh;
  }
  .infoBiciMapa p{
    font-size: .6vh;
  }
  .mapa{
    width: 70%;
    height: 15vh;
  }
  .lugares{
    margin-bottom: .75vh;
  }
  .divisionLugares{
    background-color: #9A9898;
    height: .025vh;
    margin-top: .25vh;
  }
  .verMas{
    background-color: #689C5B;
    color: #ffff;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: .75vh;
    border: none;
    padding: .5vh;
    border-radius: 1vh;
    align-items: center;
    text-decoration: none;
  }
  .flecha{
    font-size: .5vh;
    margin-left: .5vh;
  }
  /*Final Sección 3*/
  
  /* Main final */
  
  /* Footer inicio*/
  
  .lineaFooter {
    width: 100%;
    height: 0.075vh;
    background-color: #d3d3d3;
  }
  .footer .footerSeccion1 {
    display: flex;
    justify-content: space-between;
    padding: .5vh;
  }
  .footer .footerSeccion1 .infoContacto {
    margin-left: 10%;
    display: flex;
    background-color: white;
  }
  .iconos {
    font-size: .75vh;
    height: .75vh;
    margin-right: .25vh;
  }
  .footerBoton {
    display: flex;
    margin: .25vh;
    padding: .13vh .5vh;
    align-items: center;
    border: .025vh solid #bbb8b8;
    border-radius: 1.25vh;
    text-decoration: none;
    color: #000000;
  }
  .wpp {
    color: #689c5b;
  }
  
  .footerBoton .tituloInfo {
    font-size: .5vh;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #000000;
  }
  .decripcionInfo {
    font-size: .45vh;
    font-family: "Inter", sans-serif;
    color: #000000;
  }
  .tituloFooter {
    color: #bbb8b8;
    font-size: .75vh;
  }
  .redes {
    margin-right: 10%;
  }
  .iconosRedes {
    margin-top: .25vh;
  }
  .nosub {
    text-decoration: none;
  }
  .facebook {
    color: #3b5998;
  }
  .twitter {
    color: #00acee;
  }
  .footer .footerSeccion2 {
    display: flex;
    background-color: #f9f9f9;
    justify-content: space-between;
    padding: .25vh 1.25%;
  }
  .terminosYCondiciones {
    display: flex;
    align-items: center;
  }
  .terminosYCondiciones .tituloFooter {
    margin: 0 .5vh;
  }
}
/* Celular Final */
/*Fin Responsive*/